* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */

.header {
    padding: 25px 0;
    background-color: #67C1FF;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 40px;
}

.nav-link {
    position: relative;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: yellow;
    opacity: 0;
}

.nav-link:hover {
    color: yellow;
}

.nav-link:focus:after {
    opacity: 1;
}

.nav-link:focus {
    outline: none;
}

.nav-link:active::after {
    opacity: 0;
}

.nav-link:active {
    color: #fff;
    transition: none;
}

/* main */

#education {
    padding-bottom: 14px;
    border-bottom: 1px solid #67C1FF;
}

#english {
    padding-bottom: 14px;
    border-bottom: 1px solid #67C1FF;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
    margin-bottom: 30px;
}

.section:first-child {
    width: 100%;
}

.section-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #67C1FF;
}

.section-item {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}

.section-item:last-child {
    margin-bottom: 0;
}

.section-item::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;
    width: 6px;
    height: 6px;
    border: 1px solid #67C1FF;
    border-radius: 100%;
}

.color {
    color: #67C1FF;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #67C1FF;
}

.avatar {
    width: 300px;
    margin-right: 30px;
}

.profile-title {
    font-size: 26px;
}

.code {
    margin: 0;
}

/* footer */

.footer {
    padding: 10px 0;
    background-color: #67C1FF;
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer-github {
    margin-left: 15px;
    color: #fff;
}

.logo {
    width: 100px;
    margin-left: auto;
    transform: translateY(2px);
}

@media (max-width: 1024px) {
    .nav-list {
      justify-content: center;
    }
    .nav-link {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .nav-list {
        gap: 20px;
    }

    .section {
      width: 100%;
    }

    #education {
        padding-bottom: 0;
        border-bottom: none;
    }
}